<form>
    <!-- TEXT FIELD GROUPS -->
    <!-- EQUAL WIDTH -->
    <div class="form-group" >
      <div class="alert alert-primary">
        Let's access your <strong>Risk</strong> profile
      </div>

      
      <div class="row justify-content-md-center">
        <div class="mx-2 col-sm-6 col-md-8 col-lg-9 col-xl-8">
          <!--style="border: 1px solid #333"-->
          &nbsp;<label for="gender"
            >What percentage of your income you can save ?</label
          >
        </div>
        <div class="mx-2 col-sm-6 col-md-4 col-lg-3 col-xl-2 mb-2">
          <select class="form-control" id="incomeSave">
            <option>Less than 5%</option>
            <option>5% To 10%</option>
            <option >10% To 20%</option>
            <option>More than 30%</option>
          </select>
        </div>
      </div>

      <div class="row justify-content-md-center">
        <div class="mx-2 col-sm-6 col-md-8 col-lg-9 col-xl-8">
          <!--style="border: 1px solid #333"-->
          &nbsp;<label for="gender"
            >How do you feel about your current financial situation?</label
          >
        </div>
        <div class="mx-2 col-sm-6 col-md-4 col-lg-3 col-xl-2 mb-2">
          <select class="form-control" id="incomeSave">
            <option>Good</option>
            <option>Bad</option>
            <option>Not Sure</option>
          </select>
        </div>
      </div>

      <div class="row justify-content-md-center">
        <div class="mx-2 col-sm-6 col-md-8 col-lg-9 col-xl-8">
          <!--style="border: 1px solid #333"-->
          &nbsp;<label for="gender"
            >Protecting my portfolio is more important to me than high returns?</label
          >
        </div>
        <div class="mx-2 col-sm-6 col-md-4 col-lg-3 col-xl-2 mb-2">
          <select class="form-control" id="incomeSave">
            <option>Strongly Agree</option>
            <option>Agree</option>
            <option>Neutral</option>
            <option>Disagree</option>
            <option>Strongly Disagree</option>
          </select>
        </div>
      </div>

      <div class="row justify-content-md-center">
        <div class="mx-2 col-sm-6 col-md-8 col-lg-9 col-xl-8">
          <!--style="border: 1px solid #333"-->
          &nbsp;<label for="gender"
            > What is your current age ?</label
          >
        </div>
        <div class="mx-2 col-sm-6 col-md-4 col-lg-3 col-xl-2 mb-2">
          <select class="form-control" id="incomeSave">
            <option>Less than 30</option>
            <option>30 to 45</option>
            <option>46 to 55</option>
            <option>56 to 65</option>
            <option>Above 65</option>
          </select>
        </div>
      </div>

      <div class="row justify-content-md-center">
        <div class="mx-2 col-sm-6 col-md-8 col-lg-9 col-xl-8">
          <!--style="border: 1px solid #333"-->
          &nbsp;<label for="gender"
            > You are on a TV game show and can choose one of the following. Which would you take?</label
          >
        </div>
        <div class="mx-2 col-sm-6 col-md-4 col-lg-3 col-xl-2 mb-2">
          <select class="form-control" id="incomeSave">
            <option>$1000 in cash</option>
            <option>A 50% chance at winning $5000</option>
            <option>A 25% chance at winning $10000</option>
            <option>A 5% chance at winning $100000</option>
          </select>
        </div>
      </div>

      <div class="row justify-content-md-center">
        <div class="mx-2 col-sm-6 col-md-8 col-lg-9 col-xl-8">
          <!--style="border: 1px solid #333"-->
          &nbsp;<label for="gender"
            > Over the next few years, you expect the annual income to:</label
          >
        </div>
        <div class="mx-2 col-sm-6 col-md-4 col-lg-3 col-xl-2 mb-2">
          <select class="form-control" id="incomeSave">
            <option>Stay the same</option>
            <option>Grow moderatel</option>
            <option>Grow substantially</option>
          </select>
        </div>
      </div>

      <div class="row justify-content-md-center">
        <div class="mx-2 col-sm-6 col-md-8 col-lg-9 col-xl-8">
          <!--style="border: 1px solid #333"-->
          &nbsp;<label for="gender"
            > How much fall in value you are comfortable with ?</label
          >
        </div>
        <div class="mx-2 col-sm-6 col-md-4 col-lg-3 col-xl-2 mb-2">
          <select class="form-control" id="incomeSave">
            <option>20%</option>
            <option>30%</option>
            <option>40%</option>
          </select>
        </div>
      </div>

      <!-- SELECT -->
    </div>
    <br />
    <div class="row">
      <div class="offset-sm-5 col-sm-7 offset-md-5 col-md-7">
        <button class="btn btn-primary" type="submit" routerLink="/risk" >Next</button>
      </div>
    </div>
  </form>