/* You can add global styles to this file, and also import other style files */


/* body {
    background-image: url(src/assets/bg3.jpg);
    max-width: 100%;
    max-height: 100vh;
    margin: 0;
    padding: 0;
    display: grid;
    height: 100%;
    background-repeat: no-repeat;
    opacity: 1;
  } */

/* body {
    background-color: teal;
}   */
 
/* h2 {
   color: black;
   opacity: 1;
} */
